@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@700&display=swap");

h2 {
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 3rem;
	line-height: 1;
	align-items: center;
	text-align: center;

	color: #242424;
}

canvas {
	position: relative;
	height: 500px;
	width: 500px;
}

.card-image {
	position: relative;
}

.image-overlay {
	position: absolute;
	border-radius: 20px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background: rgba(0, 0, 0, 0.5);
}

.card:hover .image-overlay {
	opacity: 1;
}

/* Navbar*/
.nav-item {
	font-weight: 500;
}
/*Button */
.button {
	background-color: #0047fc;
	border: none;
	border-radius: 70px;
	color: #ffffff;
	padding: 8px 30px;
	text-decoration: none;
	font-size: 20px;
	margin-top: 5px;
	margin-right: 5px;
}

#details {
	padding: 10% 0%;
}

#userDash {
	padding: 6% 0%;
}
/*  HeroSection */
#hero {
	padding: 10% 0%;
}
#login {
	padding: 8% 0;
}
h1 {
	font-family: "Arial";
	font-weight: 700;
	line-height: 1.2;
	font-size: 4rem;

	color: #ffffff;
}

.box {
	width: 100%;
	height: 400px;
	padding: 0%;

	background: #cacaca;
	border-radius: 25px;
}

.container > form {
	width: 100%;
	border: 1px solid #dfdfdf;
	padding: 20px;
	background: #fff;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
}


@keyframes App-logo-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
/* Media Queries*/

@media (max-width: 1280px) {
	.App-logo {
		animation: App-logo-spin infinite 6s linear;
	  }

	h2 {
		font-size: 2rem;
	}
	h1 {
		font-size: 2.5rem;
		text-align: center;
		margin-top: 2%;
	}
	#hero p {
		text-align: center;
		margin-top: 2%;
	}
	#hero {
		padding: 15% 0%;
	}
	#explore {
		display: table;
		margin: 0 auto;
	}

	.btn.btn-rounded {
		border-radius: 50px;
	}
}
